<html ng-app="ionicApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Ionic Inbox</title>
    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
    <link rel="stylesheet" href="inbox.css">
  </head>

  <body ng-controller="emailsCtrl">
    <ion-header-bar class="bar-positive">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"<html ng-app="ionicApp">

            <head>
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
              <title>Ionic Inbox</title>
              <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
              <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
            </head>
            
            <body ng-controller="emailsCtrl">
              <ion-header-bar class="bar-positive">
                <div class="buttons">
                  <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete"></button>
                </div>
                <h1 class="title">Ionic Inbox</h1>
              </ion-header-bar>
              <ion-content>
                <ion-list show-delete="data.showDelete">
            
                  <ion-item ng-repeat="email in emails" class="item-icon-left item-remove-animate" href="#/email/{{email.id}}">
                    <i class="icon ion-ios-email-outline"></i>
                    <h2>{{email.from}}</h2>
                    <p>
                      <span class="email-text">
                        {{email.subject}}
                      </span>
                      <span class="item-note email-text">
                        {{email.date | date:'EEE M/d/yyyy h:mm a'}}
                      </span>
                    </p>
            
                    <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(email)">
                    </ion-delete-button>
                  </ion-item>
                </ion-list>
              </ion-content>
            </body>
            
            </html>
          ng-click="data.showDelete = !data.showDelete"></button>
      </div>
      <h1 class="title">Ionic Inbox</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list show-delete="data.showDelete">
        
        <ion-item ng-repeat="email in emails"
                  class="item-icon-left item-remove-animate"
                  href="#/email/{{email.id}}">
          <i class="icon ion-ios-email-outline"></i>
          <h2>{{email.from}}</h2>
          <p>
            <span class="email-text">
              {{email.subject}}
            </span>
            <span class="item-note email-text">
              {{email.date | date:'EEE M/d/yyyy h:mm a'}}
            </span>         
          </p>
          
          <ion-delete-button class="ion-minus-circled" 
                             ng-click="onItemDelete(email)">
          </ion-delete-button>          
        </ion-item>
      </ion-list>
    </ion-content>
  </body>
</html>